/*html principal*/
.cabecera{
    text-align: center;
    color: black;
    height: 80px;
    padding: 0;
    border: 5px solid black;
    background: #33A2FF
}
h1 {
    font-weight: bold;
}
/*html principal*/

/*html para pop ups*/
h4 {
  text-align: center;
  color: black;
  background: #89D8F3;
}
p {
  color: black;
}


/*htnl popups botones*/
.menu li{
    list-style: none;
    border: 1px solid black;
    padding: 3px;
    font: bold 8px verdana;
    display: inline-block;
    background: #d1c9c8;
}

/*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: #C8C4C3;
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  border-radius: 10px;
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}
/*Legend specific*/


/*PLANETA GIRANDO*/
.planeta {
    width: 75px;
    height: 75px;
    overflow: hidden;
    position: absolute;
    top:15px;
    right:0;
    left:20px;
    bottom: 0;
    border-radius: 50%;
    box-shadow: -30px -20px 0 0 rgba(0,0,0,0.1) inset,
                -70px -30px 0 0 rgba(0,0,0,0.1) inset,
                5px 5px 0 0 rgba(255,255,255,0.2) inset;
    background: url(../imagen/tierra.png);
    background-size: cover;
    
    -webkit-animation: tierra-girando 7s infinite linear;
}

@-webkit-keyframes tierra-girando {
    from {
        background-position: left center;
    }
    to {
        background-position: -396px center;
    }
}
/*PLANETA GIRANDO*/